.table
  width: 100%;
  &-content
    width: 100%;
    padding: 30px 0;
    border-radius: 6px;
    .name-titles
      margin-bottom: 40px;
      .title
        padding: 17px 34px;
  .expenses
    font-size: 14px;
    &-item
      padding: 17px 34px;